<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Apple Order</title>
</head>
<body>

<div align="center">
    <h1>Item List</h1>
    <p><a href="/cart">My Shopping Cart</a></p>
    <p><a th:href="@{'/view/' + '${user.Id}'}">View Order Status</a></p>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.name}">Product Name</td>
            <td th:text="${product.description}">Description</td>
            <td th:text="${product.price}">Price</td>
            <td th:text="${product.stock}">Stock</td>
            <td>
<!--                <a th:href="/add">Add</a>-->
                <!--                &nbsp;&nbsp;&nbsp;-->
                <!--                <a th:href="/@{'/delete/' + ${product.id}}">Delete</a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>