<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>To Do Orders</title>
</head>
<body>
<div align="center">
    <h1>To Do Orders</h1>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Items</th>
            <th>Price</th>
            <th>Employee ID</th>
            <th>Status</th>
            <th>Created Time</th>
            <th>Expected Arriving Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="PSOrder : ${PSOrderList}">
            <td th:text="${PSOrder.orderId}">Order ID</td>
            <td th:text="${PSOrder.orderedItems}">Order Items</td>
            <td th:text="${PSOrder.price}">Price</td>
            <td th:text="${PSOrder.employeeId}">Employee ID</td>
            <td  th:if="${PSOrder.status} == 0">Pending</td>
            <td  th:if="${PSOrder.status} == 1">Delivering</td>
            <td  th:if="${PSOrder.status} == 2">Delivered</td>
            <td th:text="${#dates.format(PSOrder.createTime, 'MM-dd-yyyy HH:mm:ss')}">Created Time</td>
            <td th:text="${#dates.format(PSOrder.arriveTime, 'MM-dd-yyyy HH:mm:ss')}">Expected Arriving Time</td>
        </tbody>
    </table>
    <form th:action="@{'/choose/' + ${orderId}}" method="post" th:object="${employee}">
        <br/><br/>
        <label>Choose Employee To Deliver</label>
        <select th:field="*{name}">
            <option th:each="p : ${AvailableEmployeeList}" th:value="${p}" th:text="${p}"></option>
        </select>
        <br/>
        <p><input type="submit" value="Submit" /></p>
    </form>
    <br/><br/><a href="/back">Back</a>
    <br/><br/><a href="/signout">Sign Out</a>
</div>
</body>
</html>