<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>All Orders</title>
</head>
<body>
<div align="center">
    <h1>All Orders</h1>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Items</th>
            <th>Price</th>
            <th>Employee ID</th>
            <th>Status</th>
            <th>Created Time</th>
            <th>Expected Arriving Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="PSOrder : ${PSOrderList}">
            <td th:text="${PSOrder.orderId}">Order ID</td>
            <td th:text="${PSOrder.orderedItems}">Order Items</td>
            <td th:text="${PSOrder.price}">Price</td>
            <td th:text="${PSOrder.employeeId}">Employee ID</td>
            <td th:text="${PSOrder.status}">Status</td>
            <td th:text="${PSOrder.createTime}">Created Time</td>
            <td th:text="${PSOrder.arriveTime}">Expected Arriving Time</td>
            <!--                <a th:href="@{'/add/' + ${product.desc}}">Add</a>-->
            <!--                &nbsp;&nbsp;&nbsp;-->
            <!--                <a th:href="/@{'/delete/' + ${product.id}}">Delete</a>-->
        </tbody>
    </table>
    <form th:action="@{/choose}" method="post" th:object="${Employee}">
        <select th:field="*{id}">
            <option th:each="p : ${AvailableEmployeeList}" th:value="${p}" th:text="${p}" />
        </select>
        <input th:field="*{orderToDo}" type="hidden" th:value="${PSOrder.orderId}">
        <br/>
        <p><input type="submit" value="Submit" /></p>
    </form>
</div>
</body>
</html>