<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Apple Order</title>
</head>
<body>
<div align="center">
    <h1>Order Detail</h1>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Items</th>
            <th>Status</th>
            <th>Created Time</th>
            <th>Expected Arriving Time</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="psOrder : ${psOrders}">
            <td th:text="${psOrder.orderId}">Order ID</td>
            <td th:text="${psOrder.orderedItems}">Order Items</td>
            <td  th:if="${psOrder.status} == 1">Delivering</td>
            <td  th:if="${psOrder.status} == 2">Delivered</td>
            <td th:text="${#dates.format(psOrder.createTime, 'MM-dd-yyyy HH:mm:ss')}">Created Time</td>
            <td th:text="${#dates.format(psOrder.arriveTime, 'MM-dd-yyyy HH:mm:ss')}">Expected Arriving Time</td>
            <td>
            <td th:if="${PSOrder.status} != 2">
            <a th:href="@{'/delivered/' + ${psOrder.orderId}}">Mark as Delivered</a>
            </td>
                <!--                &nbsp;&nbsp;&nbsp;-->
                <!--                <a th:href="/@{'/delete/' + ${product.id}}">Delete</a>-->
        </tr>
        </tbody>
    </table>
    <a href="/signout">Sign Out</a>
</div>
</body>
</html>